---
import "../../styles/global.css";
import MainLayout from "@/layouts/MainLayout.astro";
import { Formatter } from "@/utils/formatter";
import { actions } from "astro:actions";


export const prerender = false;

const { data:products, error } = await Astro.callAction(actions.loadProductsFromCart,{});

console.log("products",products)

if( error || !products){
  return Astro.redirect("/")
}

const total = products.reduce((acc, product) => {
  return acc + (product.price * product.quantity)
}, 0)
---

<MainLayout title="Carrito de comprasa">
    <h1 class="text-3xl">Carrito de compras</h1>

<section class="grid grid-cols-1 sm:grid-cols-2">

  <!-- Productos -->
  <div>
    <h2 class="text-2xl">Productos</h2>
    <a href="javascript:history.back()" class="hover:underline text-blue-500">Volver</a>
    {
      products?.map( product => (
        <div class="flex gap-5 mt-5">
          <img src={product.image} alt={product.title} class="w-30 h-30"/>

          <div>
            <a href={`/products/${product.slug}`}  class="hover:underline">
              {product.title}
            </a>
            <p>{product.price} €</p>
            <p> 
              Talla: <span class="font-bold"> {product.size} </span>
            </p>
            <button 
            data-id={product.productId}
            data-size={product.size}
            class="text-blue-500 btn-delete">Eliminar
            </button>
          </div>

        </div>
      ))
    }

  </div>


  <!-- Totales -->
  <div class="bg-black h-[330px] text-white p-6 rounded-lg shadow-lg order-1">
    <h2 class="text-lg font-semibold mb-4">Resumen de compra</h2>

    <div class="flex justify-between text-gray-400 mb-2">
      <span>Envío</span>
      <span>Gratis</span>
    </div>

    <div class="flex justify-between text-gray-400 mb-4">
      <span>SubTotal </span>
      <span>{Formatter.currency(total)}</span>
    </div>
    <div class="flex justify-between text-gray-400 mb-4">
      <span>Impuesto </span>
      <span>{Formatter.currency(total * 0.15)}</span>
    </div>

    <div class="flex justify-between text-xl font-bold">
      <span>Total</span>
      <span>{Formatter.currency(total * 1.15)}</span>
    </div>

    <button
      class="mt-10 w-full bg-blue-700 text-gray-300 py-3 rounded-lg hover:bg-gray-600 transition-all"
    >
      PAGAR
    </button>
  </div>

</section>

</MainLayout>

<script>
import { itemsInCart } from "@/store/cart.store";
import { CartCookiesClient } from "@/utils/cart-cookies";
import { navigate } from "astro:transitions/client";

  document.addEventListener('astro:page-load', () => {

    const deleteButtons: NodeListOf<HTMLButtonElement> = document.querySelectorAll(".btn-delete")
  
    deleteButtons.forEach( button => {
      button.addEventListener("click", (event) => {
      const target = event.target as HTMLButtonElement;
      const productId = target.dataset.id ?? '';
      const productSize = target.dataset.size ?? '';
  
      const cart = CartCookiesClient.removeItem(productId, productSize);
      itemsInCart.set(cart.length);  

      // window.location.reload()
      navigate('/cart');
      });
    });
  });


</script>